body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f8ff;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-foreground {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.video-foreground iframe {
    width: 100vw;
    height: 56.25vw; /* 16:9 ratio */
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    background-color: rgba(0, 77, 64, 0.8);
    width: 100%;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: 80px; /* Space for the sticky footer */
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.hero-section img {
    width: 150px;
    margin-bottom: 20px;
}

.hero-text h2 {
    color: #007B63;
    font-size: 32px;
    margin-bottom: 20px;
}

.hero-text p {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-text ul {
    list-style-type: none;
    padding: 0;
}

.hero-text ul li {
    margin-bottom: 10px;
}

.hero-text ul li a {
    color: #007B63;
    text-decoration: none;
}

.hero-text ul li a:hover {
    text-decoration: underline;
}

.nav-menu {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 77, 64, 0.8);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

.nav-menu a:hover {
    background-color: #007B63;
}

.member {
    display: block;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
    text-decoration: none;
}

.member img {
    max-width: 100%;
    border-radius: 50%;
}

footer {
    background-color: rgba(0, 77, 64, 0.8);
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 1000;
}

